<html>
    <head>
        <title>Catalog App</title>
    </head>
    <body>
        <h1>Catalog App</h1>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><b>Categories</b></td>
                        </tr>
                        {% for c in categories %}
                            <tr>
                                <td>{{c.name}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><b>{{catagory.name}}</b></td>
                        </tr>
                        {% for item in items %}
                            <tr>
                                <td>{{item.title}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
