<html>
    <head>
        <title>Catalog App</title>
    </head>
    <body>
        <h1>Catalog App</h1>
        <table>
            <tr>
                <td>
                    Delete Item
                </td>
            </tr>
            <tr>
                <td>
                <form action="#", method = "post">
                    Are you sure you want to delete?<br>
                    <input type="submit" value="Submit">
                </form>
                </td>
            </tr>
        </table>
    </body>
</html>
