<html>
    <head>
        <title>Catalog App</title>
    </head>
    <body>
        <h1>Catalog App</h1>
        <table>
            <tr>
                <td>
                    Edit Item
                </td>
            </tr>
            <tr>
                <td>
                <form>
                Title<br>
                <input type="text" name="name" value="{{item.name}}"><br>
                Description <br>
                <input type="text" name="description" value="{{item.description}}"><br>
                Category <br>
                <select name="catagories">
                    {% for each in categories %}
                        <option value="{{each.name}}">{{each.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </body>
</html>
