<html>
    <head>
        <title>Catalog App</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <div class = "container">
            <nav class="navbar navbar-dark" style="background-color: #000059;">
                <a class="navbar-brand" href="/">Catalog App</a>
                {% if image %}
                    <form action="/gdisconnect">
                        <input type="submit" class="navbar-brand btn btn-success pull-right" value="Log Out">
                        <img src="{{image}}" width="50" class = "pull-right">
                {% else %}
                    <form action="/login">
                        <input type="submit" class="navbar-brand btn btn-success pull-right" value="Log In">
                {% endif %}
                </form>
            </nav>
            <div class="jumbotron">
                <table class="table">
                    <tr>
                        <td>
                            {{item.title}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{item.description}}
                        </td>
                    </tr>
                    <tr>
                        <td> <a href="/catalog/{{item.title}}/edit">Edit</a> | <a href="/catalog/{{item.title}}/delete">Delete</a> </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
