<html>
    <head>
        <title>Catalog App</title>
    </head>
    <body>
        <h1>Catalog App</h1>
        <table>
            <tr>
                <td>
                    New Item
                </td>
            </tr>
            <tr>
                <td>
                <form action="#", method = "post">
                    Title<br>
                    <input type="text" name="title"><br>
                    Description <br>
                    <input type="text" name="description"><br>
                    Category <br>
                    <select name="catagories">
                        {% for each in categories %}
                            <option value="{{each.name}}">{{each.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
